@charset "utf-8";
@font-face {
    font-family: 'play';
    src: url('fontes/zrnic/zrnic\ rg.ttf')format('opentype'); 
    font-weight: normal;
}

*{
    margin: 0px;
    padding: 0px;
    background-attachment: fixed;
}

:root{
    --cor1: #011336;
    --cor2: #4470C1;
    --cor3: #0241B5;
    --cor4: #111E36;
    --cor5: #013AA7;
    --font-destaque: 'Bebas Neue', cursive;
    --font-padrao: Arial, Verdana, Helvetica, Sans-serif;
    --font-play: 'play', cursive;
}
body{
    background-color: rgba(227, 226, 226, 0.541);
    font-family: var(--font-padrao);
}
header{
    height: 60px;
    margin: auto;
    background-color: var(--cor3);
    color: white;
    text-align: center; 
    font-family: var(--font-play);
    padding-top: 10px;
}
header > h1{
    font-weight: bold;
    font-size: 40px;
    color: white;
    font-family: var(--font-play);
    padding: 0px;
}
header img{
    position: absolute;
    height: 40px;
    width: 40px;
    left: 4%;
    top: 2%;
}
nav{
    height: 50px;
    background-color: var(--cor1);
    text-align: center;
}
main{
    height: auto; 
    max-width: 1000px;
    min-width: 300px;
    margin: auto;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.30);
    font-family: var(--font-padrao);
    padding: 10px;
}
.menu{
    text-align: center;
    display: inline-block;
    padding: 7px;
}
.menu img{
    margin-left: 10px;
    margin-right: 10px;
}
.menu img:hover{
    background-color: #163471;
    border-radius: 2px ;
    margin-left: 15px;
    margin-right: 15px;
    transition-duration: 0.5s;
    
}










































































