* {
    padding: 0px;
    margin: 0px;
}
body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
#cabin {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    height: 100px;
    width: 100px;
    margin: 10px ;
    border: 1px solid #ddd;
}