@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Saira+Semi+Condensed:wght@500&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    height: auto;
    width: 100vw;
    font-family: 'Courier New', Courier, monospace;
}
header {
    background-color: rgb(0, 0, 0);
    background-position: center right;
    background: url(../../imagens/background-header.jpg) center top;
}

.top_header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    width: 100%;
    background: rgba(0, 0, 0, 0.447);
  }
  #logo{
    font-weight: bold;
    font-size: 1.5em;
  }
  #menu{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 0px;
    list-style: none;
    gap: 3rem;
    z-index: 1000;
    visibility: hidden;
    transition: 0.2s ease;
    background-color: #e1e1e18e;
  }
  #menu li a {
    display: block;
    color: black;
    text-decoration: none;
  }
  #menu li a:hover{
    transition: 0.3s;
    text-decoration: underline;
  }
  #nav.active #menu{
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: visible;
    height: 40px;
    transition: .5s ease;
  }
  #btn_menu {
    display: flex;
    gap: 10px;
    border: none;
    padding: 5px;
    background-color: transparent;
    cursor: pointer;
    color: white;
  }
  
  #hamburguer {
    width: 20px;
    border-top: solid 2px;
  }
  #hamburguer::before, #hamburguer::after {
    content: '';
    background-color: currentColor;
    display: block;
    height: 2px;
    width: 20px;
    margin-top: 5px;
    transition: .3s;
    position: relative;
  }
  
  #header.active #hamburguer{
    border-top: 0px;
  }
  #header.active #hamburguer::before{
    transform: rotate(135deg);
  }
  #header.active #hamburguer::after{
    top: -7px;
    transform: rotate(-135deg);
  }

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 1s ease;
}
.demonstração > .conteudo_principal > h1 {
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 30px;
    font-family: 'Saira Semi Condensed', sans-serif;
}

.conteudo_principal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    width: 85vw;
    height: 400px; 
    color: black;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px;
    width: 700px;
    height: 250px;
}
.demonstração {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
    margin-top: 50px;
    width: 100vw;
    font-size: 12px;
    color: rgb(145, 145, 145);
}
.link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70vw;
    height: 50px;
    text-align: center;
    text-decoration: none;
    font-family: 'Saira Semi Condensed', sans-serif;
}
.link > a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 10px;
    font-weight: 500;
    color: black;
    width: 150px;
    height: 50px;
    font-size: 11px;
    background: lightpink;
    box-shadow: 1px 1px 5px gray;
}

.link > a:hover {
    transition: 0.3s ease;
    background: #eea9b3;
    box-shadow: 1px 1px 10px gray;
}
.phone {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85vw;
    height: 700px;
}
#tela {
    position: relative;
    top: 18px;
    left: 21px;
    width: 209px;
    height: 449px;
    border-radius: 20px;
}
.tela_phone{
    left: 120px;
    width: 250px;
    height: 485px;
    background: url(../../imagens/5.png);
    background-position: top center;
    background-size: cover;
}

footer {
    height: 555px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #e1e1e18e;
}
.social {
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 8px;
    color: rgb(145, 145, 145);
}
.btn_sociais {
    display: flex;
    gap: 25px;
    margin-top: 10px;
    box-sizing: border-box;
}
.btn_sociais > a > img{
    height: 40px;
    width: 40px;
}
.btn_sociais > a {
    padding: 5px;
    border: 1px solid rgba(225, 225, 225, 0.556);
    border-radius: 5px;
}
.btn_sociais > a:hover {
    border: 1px solid lightgray;
    padding: 5px;
    border-radius: 10px;
    transition: 0.5s;
}
.logo {
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contato {
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.contato > .telefone > h2, .email > h2 {
    color: rgb(146, 146, 146);
    font-size: 11px;
    font-weight: bold;
}
.telefone, .email{
    width: 150px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#my_logo {
    height: 150px;
    width: 150px;
}
::-webkit-scrollbar {
    width: 0px;
}
 