*{
       padding: 0px;
       margin: 0px;
       box-sizing: border-box;
}

body{
       height: 100%;
       width: 100%;
       background-color: white;
}
.container{
       min-width: 300px;
       max-width: 1000px;
       background-color: rgb(34, 33, 33);
       width: 550px;
       height: 550px;
       margin: auto;
       border-radius: 30px;
       padding: 10px;
       margin-top: 10px;
       margin-bottom: 10px;
}
.result{
       margin: 10px;
       background-color: rgb(55, 55, 55);
       height: 130px;
       border-radius: 20px;
}
.operadores{
       width: 150px;
}
.operadores > button{
       width: 75px;
       height:75px;
       font-weight: bold;
       background-color: #f6c775;
       color: white;
       border: none;
       margin: 1px;
       border-radius: 10px;
       font-size: 15px;
       float: right;
       cursor: pointer;
}
.num{
       width: 300px;
}
.num > button{
       width: 80px;
       height: 80px;
       font-weight: bold;
       background-color: rgb(55, 55, 55);
       color: white;
       border: none;
       margin: 2px;
       border-radius: 10px;
       font-size: 15px;
       padding: 20px;
       cursor: pointer;
}
.botões {
       display: flex;
       padding: 10px;
       width: 500px;
       height: 350px;
}