* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
}
::-webkit-scrollbar {
    width: 0px;
}

body {
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    height: 100vh;
}

header {
    background-color: #f3f3f3;
    height: 200px;
    display: flex;
}
.header_cont-1 {
    width: 30%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header_cont-2 {
    height: 200px;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#btn_close {
    width: 100%;
    height: 50px;
    border: none;
    border-bottom: solid 1px #ddd;
    background-color: transparent;
    font-size: 20px;
    font-weight: 500;
}
.menu {
    position: absolute;
    height: 250px;
    width: 100%;
    top: 0px;
}
#nav {
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    visibility: hidden;
    position: absolute;
    height: 200px;
    width: 100%;
    top: 0px;
}
ul > li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
}
ul > li:hover{
    transition: 0.3s ease;
    border-bottom: solid 1px #000;
}
.sugestão_produto {
    height: 50px;
    width: 100%;
    background-color: #1d1d1d;
}
main {
    background-color: #fff;
    width: 100%;
    height: 100vh;
}
#container {
    height: 100%;
    width: 100%;
    background-color: white;
}
.produto-1 {
    height: 500px;
    width: 100%;
    padding: 30px;
    text-align: center;
}
.img_produto-1 {
    background-color: aqua;
    height: 300px;
    width: 100%;
}
.nome_produto-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: greenyellow;
    width: 100%;
    height: 50px;
}
.valor_produto-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blueviolet;
    height: 40px;
    width: 100%;
}
.btn_buy {
    margin: 20px;
    width: 150px;
    height: 40px;
    border-radius: 3px;
    border: none;
}

.produto-2 {
    height: 500px;
    width: 100%;
    padding: 30px;
    text-align: center;
}

.produto-3 {
    height: 500px;
    width: 100%;
    padding: 30px;
    text-align: center;
}

.produto-4 {
    height: 500px;
    width: 100%;
    padding: 30px;
    text-align: center;
}
