* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif, Courier, monospace, Times, serif;
}/*reset*/
html {
    background-color: rgb(255, 255, 255);
}
body {
	background: linear-gradient(135deg, #d96ff4, #c969f9, #8204f1);
	background-size: 400% 400%;
	animation: gradient 25s ease infinite;
	height: auto;
  transition: all 0.3s ease;
}/*config-body*/

/*animação background*/
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}/*config-header*/
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 120px;
    color: black;
    background: white;
}
header > a{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  letter-spacing: 2px;
  font-weight: 700;
  color: #8204f1;
}
.btn_head {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100px;;
}
#btn_menu{
    display: flex;
    gap: 5px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
   background-color: white;
}
/*config-botão-menu*/
#hamburguer {
    color: #8204f1;
    width: 20px;
    border-top: solid 2px;
  }
  #hamburguer::before, #hamburguer::after {
    content: '';
    background-color: currentColor;
    display: block;
    height: 2px;
    width: 20px;
    margin-top: 6px;
    transition: .3s;
    position: relative;
  }
  
  #header.active #hamburguer{
    border-top: 0px;
  }
  #header.active #hamburguer::before{
    transform: rotate(135deg);
    width: 16px;
  }
  #header.active #hamburguer::after{
    top: -8px;
    transform: rotate(-135deg);
    width: 16px;
  }
/*config-menu*/
#menu {
    border-top: solid 1px #edededaf;
    background-color: white;
    height: 40px;
    width: 0%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    z-index: 1000;
    transition: .3s ease;
    gap: 10px;
}
#nav.active #menu {
  transition: .5s ease;
  width: 100%;
  visibility: visible;
}
#nav.active #menu > li{
  transition: .4s ease;
  visibility: visible;
}
ul {
    list-style: none;
    display: flex;
}
li{
  width: 100px;
  text-align: center;
  visibility: hidden;
  box-sizing: border-box;
}
#_a{
  display: grid;
  align-items: center;
  width: 100px;
  height: 40px;
  box-sizing: border-box;
  background-color: white;
  color: #8204f1;
  border-bottom: transparent solid 2px;
}
#_a:hover {
  transition: all 0.4s ease;
  background-color: #fbfbfb;
  border-bottom: #8204f1 solid 2px;
}

/*config-conteudo*/
.section-1 {
    display: flex;
    box-sizing: border-box;
    background-color: transparent;
    height: 400px;
    width: 100%;
}
.text_section1 {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  height: 400px;
  width: 100%;
}
.text_section1 > h1 {
  font-size: 35px;
  color: white;
  text-transform: uppercase;
}
#img_livraria {
  display: none;
  position: absolute;
  right: 0px;
  float: right;
  height: 400px;
  width: 50%;
  opacity: 80%;
  background: url(../imagens/pexels-designecologist-1779487.jpg);
  filter: grayscale(50%);
  -webkit-clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
  clip-path: polygon(100% 0%, 100% 30%, 100% 100%, 25% 100%, 0% 45%, 30% 0%);
}
#img_livraria-shadow {
    position: absolute;
    right: 0px;
    height: 400px;
    width: 100%;
    opacity: 20%;
    float: right;
    filter: grayscale(50%);
    background: url(../imagens/pexels-designecologist-1779487.jpg) no-repeat;
}

.section-2 {
  background: white;
  height: 500px;
  width: 100%;
  border-bottom: solid 1px #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-3 {
  height: 500px;
  width: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*config-rodapé*/
footer {
    height: auto;
    background-color: transparent;
}
.footer {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: solid 1px #dddddd84;
}
.my_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 10%
}
.links_footer {
  color: white;
}
.links_footer > ul{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.links_footer > ul > li {
  display: flex;
  align-items: center;
  justify-content: center;
  visibility:visible;
  background-color: transparent;
  height: 20px;
}
.links_footer > ul > li > a {
  color: white;
  border-bottom: white 0px solid;
}
.links_footer > ul > li > a:hover{
  transition: 0.5s ease;
  border-bottom: white 1px solid;
}

.redes_sociais {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  gap:15px;
}
.redes_sociais > h1 {
  color: white;
  font-size: 15px;
}
.redes_sociais > a {
  height: 40px;
  padding: 5px;
  width: 50px;
  text-align: center;
  border-bottom: transparent solid 1px;
  border-top: transparent solid 1px;
}
.redes_sociais > a:hover{
  transition: 0.5s ease;
  border-bottom: white solid 1px;
  border-top: white solid 1px;
}
#img_redes {
  height: 40px;
  width: 40px;
}

::-webkit-scrollbar{
    width: 0px;
}/*config-barra-scroll*/
